<style>

    button.btn.btn-success {
        padding: 5px 10px;
    }

    button.btn.btn-info {
        padding: 5px 10px;
    }

    button.btn.btn-danger {
        padding: 4px 10px;
    }
    
    td {
        /* padding: 10px 15px; */
        padding: 10px 10px;
    }
    
    button.btn.btn-primary.mb-4 {
        padding: 4px 8px;
    }
     
    button.btn.btn-primary.mb-3 {
    padding: 4px 8px;
    margin-right: -367px;
}
</style>

<div class="container-fluid">
    <!-- <app-page-title title="Teams List"></app-page-title> -->
   
    <div class="row">
        <div class="col-md-4">
          <div>
            <app-page-title title="Advance Salary List"></app-page-title>

          </div>
        </div>

        <div class="col-md-8"  style="text-align: right;">
            <button type="button" class="btn btn-primary mb-4"  routerLink="/form/salary/advancesalaryreport">
            Report</button>
        </div>
        <div class="col-md-8"  style="text-align: right;">
                <button type="button" class="btn btn-primary mb-3"  routerLink="/form/salary/advancesalary"><i class="mdi mdi-plus me-1"></i>
                Add Advance Salary Details</button>
        </div>
        <!-- Search -->
        <!-- <div class="col-md-12">
            <div id="tickets-table_filter" class="dataTables_length"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchcompanylist" class="form-control form-control-sm ms-2"
                  aria-controls="tickets-table" [(ngModel)]="searchcompanylist"></label>
              </div>
        </div> -->
      <!-- End search -->
      <div class="col-md-8">
        <div id="tickets-table_filter" class="dataTables_length"><label
            class="d-inline-flex align-items-center">Search:
            <input type="text" name="searchadvancesalary" class="form-control form-control-sm ms-2"
              aria-controls="tickets-table" [(ngModel)]="searchadvancesalary"></label>
          </div>
    </div>
     <!-- End search -->
    <div class="col-md-4">
      <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [maxSize]="4" [collectionSize]="advancesalaryList.length" [boundaryLinks]="true"  style="justify-content: right!important;"></ngb-pagination>
      </div>
      </div>

      
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body"  style="padding: 0 10px 0 10px;">
                  <!-- <h4 class="card-title">Registered Roles</h4> -->
    
                  <div class="table-responsive">
                      <table class="table mb-0">
                          <thead>
                            <!-- Sorting-->
                            <tr>
                                <th [class.active]="order === 'firstname'" (click)="setOrder('firstname')">
                                    User Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'advanced_paid_date'" (click)="setOrder('advanced_paid_date')">
                                    Advanced Paid Date<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'paid'" (click)="setOrder('paid')">
                                    Paid<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'repaid_amount'" (click)="setOrder('pending_amount')">
                                    Pending Amount<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'balance_amount'" (click)="setOrder('balance_amount')">
                                    Advance Amount<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'status'" (click)="setOrder('status')">
                                    Status<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th>Actions</th>
                              </tr>
                              <!-- Sorting End-->
                              <!-- Search -->
                                <tr>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="firstname_Search">
                                </th>
                                <th>
                                    <input type="date" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="advanced_paid_date_search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="emi_amount_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="repaid_amount_Search">
                                </th> 
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="balance_amount_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="status_Search">
                                </th>
                            </tr>  
                            <!-- End search -->
                             
                          </thead>
                          <tbody>
                              <tr *ngFor="let advancesalary of advancesalaryArr | searchadvancesalary:firstname_Search:advanced_paid_date_search:emi_amount_Search:repaid_amount_Search:balance_amount_Search:status_Search | orderBy: order:reverse:caseInsensitive | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <!-- <th scope="row">{{advancesalary.advance_salary_id}}</th> -->
                                    <td>{{advancesalary.firstname}} {{advancesalary.middlename}} {{advancesalary.lastname}}</td>
                                    <td>{{advancesalary.advanced_paid_date}}</td>
                                    <td>{{advancesalary.paid}}</td>
                                    <td>{{advancesalary.pending_amount}}</td>
                                    <td>{{advancesalary.adv_amount}}</td>
                                    <td>{{advancesalary.status}}</td>
                                    <td>
                                        <button type="button" class="btn btn-info"  routerLink="/form/salary/editadvancesalary/{{advancesalary.advance_salary_id}}"><i class="uil-pen"></i></button>
                                        &nbsp;
                                        <button type="button" class="btn btn-success"  routerLink="/form/salary/advancesalaryview/{{advancesalary.advance_salary_id}}"><i class="uil-eye"></i></button>
                                        &nbsp;
                                        <button type="button" class="btn btn-danger"  (click)="deleteAdvancesalaryData(advancesalary.advance_salary_id)"><i class="uil-trash-alt"></i></button>
                                    </td>
                                    
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
  
              </div>
          </div>
      </div>
  </div>
  <!-- end row -->
  </div>