<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Update Subproject" ></app-page-title>
    <!-- end page title -->
  <form (ngSubmit)="updatesubprojects()">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">


            <div class="mb-3 row">
              <label for="first name" class="col-md-2 col-form-label">Project Name</label>
              <div class="col-md-10">
                <!-- <input class="form-control" type="text"  id="region_id" placeholder="Enter Region ID" name="region_id" [(ngModel)]="subregions.region_id"> -->
                <select  class="form-control"  name="project_id"  [(ngModel)]="subprojects.project_id" disabled>
                  <option value="">Select Project Name</option>
                  <option *ngFor="let pl of projectsArr"  value="{{pl.project_id}}">
                  {{pl.project_name}}
                  </option>
              </select>
              </div>
            </div>
  
            <div class="mb-3 row">
              <label for="last name" class="col-md-2 col-form-label">Subproject Name</label>
              <div class="col-md-10">
                <input class="form-control" type="text"  id="subproject_name" placeholder="Enter Region Name" name="subproject_name" [(ngModel)]="subprojects.subproject_name"  disabled>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="last name" class="col-md-2 col-form-label">Rera No</label>
              <div class="col-md-10">
                <input class="form-control" type="text"  id="rera" placeholder="Enter Region Name" name="rera" [(ngModel)]="subprojects.rera"
                (keypress)="keyPressAlphanumeric($event)"
                    maxlength="12">
              </div>
            </div>
         
   
  
            <div class="col-12">
              <button type="submit" class="btn btn-primary" routerLink="/form/subprojectslist">Cancel</button>
              &nbsp;
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
  
  
          </div>
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </form>
  
  </div> <!-- container-fluid -->