<div class="container-fluid">
    <!-- <app-page-title title="Teams List"></app-page-title> -->
<div class="card">
    <div class="card-body">

        <form (ngSubmit)="uploadJson()">
            <div class="mb-3 row">
                <div class="col-md-4">
                    <label>Upload Json</label>
                    <form (ngSubmit)="saveMultipleImage()" enctype="multipart/form-data">
                        <div class="mb-3 row">
                            <div class="col-md-8">
                                <input class="form-control" type='file' (change)="onSelectFile($event)" multiple>

                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary"> <i class="mdi mdi-upload"></i>
                                    Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <label>Financial Year</label>
                    <select class="form-control" name="financial_year" [(ngModel)]="json.financial_year">
                        <option value="">-- Select Financial Year From --</option>
                        <option value="2020-2021"> 2020-2021 </option>
                        <option value="2021-2022"> 2021-2022 </option>
                        <option value="2022-2023"> 2022-2023 </option>
                        <option value="2023-2024"> 2023-2024 </option>
                        <option value="2024-2025"> 2024-2025 </option>
                        <option value="2025-2026"> 2025-2026 </option>

                    </select>
                    <span class="text-danger" [hidden]="!error.financial_year">{{error.financial_year}}</span>
                </div>

                <div class="col-md-3">
                    <label>Financial Month</label>
                    <select class="form-control" name="financial_month" [(ngModel)]="json.financial_month">
                        <option value="">-- Select Month--</option>
                        <option value="1"> January </option>
                        <option value="2"> February </option>
                        <option value="3"> March </option>
                        <option value="4"> April </option>
                        <option value="5"> May </option>
                        <option value="6"> June </option>
                        <option value="7"> July </option>
                        <option value="8"> August </option>
                        <option value="9"> September </option>
                        <option value="10"> October </option>
                        <option value="11"> November </option>
                        <option value="12"> December </option>
                    </select>
                    <span class="text-danger" [hidden]="!error.financial_year">{{error.financial_month}}</span>
                </div>
                <div class="col-md-2"  style="padding-top: 28px;">
                    <label></label>
                    <button type="submit" class="btn btn-primary">Submit</button>
                   
                </div>


            </div>
        </form>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Monthly GSTR 1</h4>
            </div>
            <div class="card-body" style="padding: 0 10px 0 10px;">
               <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="5">System</th>
                                <th colspan="4">JSON</th>
                            </tr>
                            <!-- Sorting-->
                            <tr>
                                <th [class.active]="order === 'new_year'" (click)="setOrder('new_year')">
                                    Month <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'Invcount'" (click)="setOrder('Invcount')">
                                    Sales<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'invctotal'" (click)="setOrder('invctotal')">
                                    CGST<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'invstotal'" (click)="setOrder('invstotal')">
                                    SGST<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'invitotal'" (click)="setOrder('invitotal')">
                                    IGST<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'total'" (click)="setOrder('total')">
                                    Total <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'Jcount'" (click)="setOrder('Jcount')">
                                    Sales<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'ctotal'" (click)="setOrder('ctotal')">
                                    CGST<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'stotal'" (click)="setOrder('stotal')">
                                    SGST<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'itotal'" (click)="setOrder('itotal')">
                                    IGST<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'Jtotal'" (click)="setOrder('Jtotal')">
                                    Total <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                            </tr>
                            <!-- Sorting End-->
                            <!-- Search -->
                               <tr>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="new_year_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="Invcount_search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="invctotal_search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="invstotal_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="invitotal_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="total_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="Jcount_search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="ctotal_search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="stotal_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="itotal_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="Jtotal_Search">
                                </th>
                            </tr>   
                            <!-- End search -->
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of dis_array2 |searchgstdetails: new_year_Search:Invcount_search:invctotal_search:invstotal_Search:invitotal_Search:total_Search:Jcount_search:ctotal_search:stotal_Search:itotal_Search:Jtotal_Search | orderBy: order:reverse:caseInsensitive '>
                                <td><a class="text-primary"
                                        routerLink="/form/gstr1/{{data.new_date}}"> {{data.month}}/{{data.new_year}} </a></td>
                                <td>{{data.Invcount}}</td>
                                <td>{{data.invctotal}}</td>
                                <td>{{data.invstotal}}</td>
                                <td>{{data.invitotal}}</td>
                                <td>{{data.total}}</td>
                                <td>{{data.Jcount}}</td>
                                <td>{{data.ctotal}}</td>
                                <td>{{data.stotal}}</td>
                                <td>{{data.itotal}}</td>
                                <td>{{data.Jtotal}}</td>
                            </tr>


                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div>