.ct {
    color: red;
}

table {
    border-bottom-color: black;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border-bottom-color: black;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border-bottom-color: black;
    border: 1px solid black;
    border-collapse: collapse;
}