<style>

    button.btn.btn-success {
        padding: 5px 10px;
    }

    button.btn.btn-info {
        padding: 5px 10px;
    }

    button.btn.btn-danger {
        padding: 4px 10px;
    }
    
    td {
        /* padding: 10px 15px; */
        padding: 10px 10px;
    }
    
    button.btn.btn-primary.mb-3 {
        padding: 4px 8px;
    }
    
</style>

<div class="container-fluid">
    <!-- <app-page-title title="Teams List"></app-page-title> -->
   
    <div class="row">
        <div class="col-md-4">
          <div>
            <app-page-title title="Invoice Details List"></app-page-title>

          </div>
        </div>

        
        <div class="col-md-8"  style="text-align: right;">
                <button type="button" class="btn btn-primary mb-3"  routerLink="/form/salary/advance-emi"><i class="mdi mdi-plus me-1"></i>
                Add Advance EMI Details</button>
        </div>
        <!-- Search -->
        <!-- <div class="col-md-12">
            <div id="tickets-table_filter" class="dataTables_length"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchcompanylist" class="form-control form-control-sm ms-2"
                  aria-controls="tickets-table" [(ngModel)]="searchcompanylist"></label>
              </div>
        </div> -->
      <!-- End search -->
      <div class="col-md-8">
        <!-- <div id="tickets-table_filter" class="dataTables_length"><label
            class="d-inline-flex align-items-center">Search:
            <input type="text" name="searchadvanceemi" class="form-control form-control-sm ms-2"
              aria-controls="tickets-table" [(ngModel)]="searchadvanceemi"></label>
          </div> -->
    </div>
     <!-- End search -->
    <div class="col-md-4">
      <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [maxSize]="4" [collectionSize]="advanceemiList.length" [boundaryLinks]="true"  style="justify-content: right!important;"></ngb-pagination>
      </div>
      </div>

      
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
              <div class="card-body"  style="padding: 0 10px 0 10px;">
                  <!-- <h4 class="card-title">Registered Roles</h4> -->
    
                  <div class="table-responsive">
                      <table class="table mb-0">
                          <thead>
                             <!-- Sorting-->
                             <tr>
                                <th [class.active]="order === 'firstname'" (click)="setOrder('firstname')">
                                     Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'emi_deduct_date'" (click)="setOrder('emi_deduct_date')">
                                     Deduct Date<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'deduction_amount'" (click)="setOrder('deduction_amount')">
                                     Amount<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'remark'" (click)="setOrder('remark')">
                                    Remark<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th>Actions</th>
                              </tr>
                              <!-- Sorting End-->
                              <!-- Search -->
                                 <tr>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="firstname_Search">
                                </th>
                                <th>
                                    <input type="date" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="emi_deduct_date_search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="emi_amount_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="remark_Search">
                                </th>
                            </tr>   
                            <!-- End search -->
                        </thead>
                          <tbody>
                              <tr *ngFor="let advanceemi of advanceemiArr | searchadvanceemi:firstname_Search:emi_deduct_date_search:emi_amount_Search:remark_Search | orderBy: order:reverse:caseInsensitive | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <!-- <th scope="row">{{advanceemi.emi_id}}</th> -->
                                    <td>{{advanceemi.firstname}} {{advanceemi.middlename}} {{advanceemi.lastname}}</td>
                                    <td>{{advanceemi.emi_deduct_date}}</td>
                                    <td>{{advanceemi.deduction_amount}}</td>
                                    <td>{{advanceemi.remark}}</td>
                                    <td>
                                        <button type="button" class="btn btn-info"  routerLink="/form/salary/editadvanceemi/{{advanceemi.id}}"><i class="uil-pen"></i></button>
                                        <!-- &nbsp;
                                        <button type="button" class="btn btn-success"  routerLink="/form/teamleaderslistview/{{salarypackage.salary_package_id}}">View</button> -->
                                        &nbsp;
                                        <button type="button" class="btn btn-danger"  (click)="deleteAdvanceemiData(advanceemi.id)"><i class="uil-trash-alt"></i></button>
                                    </td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
  
              </div>
          </div>
      </div>
  </div>
  <!-- end row -->
  </div>