<div class="container-fluid">

   

    <div class="page-title-box d-flex align-items-center justify-content-between"  style="padding-bottom:0px !important;"> 
     
      <div class="mb-0 font-size-20">
          <h4>Update Invoice Details</h4> 
      </div>
    

    </div> 


<form  (ngSubmit)="updateInvoicedetails()">

  


  <div class="mb-3 row">

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Client Name</label>
      <select  class="form-control" name="client_id"  [(ngModel)]="invoicedetails.client_id" (change)="getState1($event)"   placeholder="-- Select Client Name --" readonly>
        <option *ngFor="let cl of clientlistArr"  value="{{cl.client_id}}">
        {{cl.name}}
        </option>
       </select>
    </div>


    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Company Name</label>
      <select class="form-control"  name="company_id"  [(ngModel)]="invoicedetails.company_id" (change)="getState1($event)" placeholder="-- Select Company Name --">
        <option *ngFor="let sl of companylistArr"  value="{{sl.debtor_company_det_id}}">  {{sl.cname}}
        </option>
    </select>
    </div>


    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Invoice Number</label>
      <input class="form-control" type="text" value="" id="invoice_date" name="invoice_date"  [(ngModel)]="invoicedetails.invoice_num" readonly> 
    </div>
    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Invoice Date</label>
      <input class="form-control" type="date" value="" id="invoice_num" name="invoice_num"  [(ngModel)]="invoicedetails.invoice_date" readonly>
    </div>

    

  </div>


  <div class="mb-3 row">


    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Payout Percentage </label>
      <input class="form-control" type="text" value="" id="payout_percentage"  name="payout_percentage"  [(ngModel)]="invoicedetails.payout_percentage" readonly>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Taxable Amount</label>
      <input class="form-control" type="text" value="" id="taxable_amt" (keyup)="bmi8()" name="taxable_amt"  [(ngModel)]="invoicedetails.taxable_amt" readonly>
    </div>

    <!-- <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">CGST Amount</label>
      <input class="form-control" type="text" value="" id="cgst_amt"  name="cgst_amt"  [(ngModel)]="invoicedetails.cgst_amt">
    </div> -->

    <div class="col-md-3" [ngClass]="{gst : value == false}">
      <label for="example-text-input" class="col-form-label">CGST Amount</label>
      <select  class="form-control" name="cgst_amt"  [(ngModel)]="invoicedetails.cgst_amt" readonly>
         <option   value="{{invoicedetails.cgst_amt}}" selected> {{invoicedetails.cgst_amt}}
          </option>
      </select>
  </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">SGST Amount</label>
      <input class="form-control" type="text" value="" id="sgst_amt"  name="sgst_amt"  [(ngModel)]="invoicedetails.sgst_amt" readonly>
    </div>

  

  </div>


  <div class="mb-3 row">

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">IGST Amount</label>
      <input class="form-control" type="text" value="" id="igst_amt"  name="igst_amt"  [(ngModel)]="invoicedetails.igst_amt" readonly>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Total GST Amount</label>
      <input class="form-control" type="text" value="" id="total_gst_amt"  name="total_gst_amt"  [(ngModel)]="invoicedetails.total_gst_amt" readonly>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Total Invoice Amount</label>
      <input class="form-control" type="text" value="" id="total_invoice_amt"  name="total_invoice_amt"  [(ngModel)]="invoicedetails.total_invoice_amt" readonly>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">TDS Rate (in %)</label>
      <input class="form-control" type="text" value="" id="tds_rate"  name="tds_rate"  [(ngModel)]="invoicedetails.tds_rate" readonly>
    </div>   


  </div>

  <div class="mb-3 row">

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Receivable TDS Amount</label>
      <input class="form-control" type="text" value="" id="receivable_tds_amt"  name="receivable_tds_amt"  [(ngModel)]="invoicedetails.receivable_tds_amt" readonly>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Receivable Amount</label>
      <input class="form-control" type="text" value="" id="receivable_amt"  name="receivable_amt"  [(ngModel)]="invoicedetails.receivable_amt" readonly>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Received Amount</label>
      <input class="form-control" type="text" value="" id="received_amt"  (keyup)="bmi8()" name="received_amt"  [(ngModel)]="invoicedetails.received_amt">
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Suspense Amount</label>
      <select  class="form-control" name="suspense_amt"  [(ngModel)]="invoicedetails.suspense_amt">
      <option   value="{{invoicedetails.suspense_amt}}" selected> {{invoicedetails.suspense_amt}}
      </option>
      </select>
    
     </div>
 
    
  </div>

  <div class="mb-3 row">

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Invoice Status</label>
      <select  class="form-control"  name="inv_status_id"  [(ngModel)]="invoicedetails.inv_status_id" readonly>
        <option value="">-- Select Subproject Name --</option>
        <option *ngFor="let sl of invoicestatusArr"  value="{{sl.inv_status_id}}">  {{sl.status}}
        </option>
    </select>
    </div>


    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Invoice Submited Date</label>
      <input class="form-control" type="date" value="" id="inv_submitted_date"  name="inv_submitted_date"  [(ngModel)]="invoicedetails.inv_submitted_date" readonly>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Due Amount</label>
      <input class="form-control" type="text" value="" id="due_amt"  name="due_amt"  [(ngModel)]="invoicedetails.due_amt" readonly>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Credit Note Amount</label>
      <input class="form-control" type="text" value="" id="credit_note_amt"  name="credit_note_amt"  [(ngModel)]="invoicedetails.credit_note_amt" readonly>
    </div>

  </div>

    

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  
  </div>

<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Create Client Details</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
      <app-clientdetails></app-clientdetails>
  </div>

</ng-template>



