<style>

    button.btn.btn-success {
        padding: 5px 10px;
    }

    button.btn.btn-info {
        padding: 5px 10px;
    }

    button.btn.btn-danger {
        padding: 4px 10px;
    }
    
    td {
        /* padding: 10px 15px; */
        padding: 10px 10px;
    }
    
    button.btn.btn-primary.mb-3 {
        padding: 4px 8px;
    }
    
</style>

<div class="container-fluid">
    <!-- <app-page-title title="Teams List"></app-page-title> -->
   
    <div class="row">
        <div class="col-md-4">
          <div>
            <app-page-title title="Invoice Details List"></app-page-title>

          </div>
        </div>
        <div class="col-md-8"  style="text-align: right;">
                <button type="button" class="btn btn-primary mb-3"  routerLink="/form/invoices/invoice/InvoiceDetailsMultiple"><i class="mdi mdi-plus me-1"></i>
                Add Invoice Details</button>
        </div>
        <!-- Search -->
        <div class="col-md-8">
            <!-- <div id="tickets-table_filter" class="dataTables_length"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchinvoicedetails" class="form-control form-control-sm ms-2"
                  aria-controls="tickets-table" [(ngModel)]="searchinvoicedetails"></label>
              </div> -->
        </div>
         <!-- End search -->
        <div class="col-md-4">
            <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [maxSize]="4" [collectionSize]="invoicedetailsList.length" [boundaryLinks]="true"  style="justify-content: right!important;"></ngb-pagination>
        </div>
      </div>

      
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <!-- <h4 class="card-title">Registered Roles</h4> -->
    
                  <div class="table-responsive">
                      <table class="table table-centered table-nowrap mb-0 align-middle">
                          <thead>
                            <tr>
                                <th [class.active]="order === 'cname'" (click)="setOrder('cname')">
                                    Company Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'cgst'" (click)="setOrder('cgst')">
                                    GST Number<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'invoice_num'" (click)="setOrder('invoice_num')">
                                    Invoice Numbe<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th [class.active]="order === 'total_gst_amt'" (click)="setOrder('total_gst_amt')">
                                    GST Amount<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                  </th>
                                  <th>Action</th>
                              </tr>
                              <!-- Search -->
                              <tr>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="cname_Search1">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="cgst_Search1">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="invoice_num_Search1">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="total_gst_amt_Search1">
                                </th>
                            </tr>
                            <!-- End search -->
                          </thead>
                          <tbody>
                              <tr *ngFor="let invoicedetails of invoicedetailsArr | searchinvoicedetails1: cname_Search1:cgst_Search1:invoice_num_Search1:total_gst_amt_Search1 | orderBy: order:reverse:caseInsensitive | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <!-- <th>{{invoicedetails.invoice_id}}</th> -->
                                    <!-- <td>{{invoicedetails.name}}</td> -->
                                    <td>{{invoicedetails.cname}}</td>
                                    <td>{{invoicedetails.cgst}}</td>
                                    <td>{{invoicedetails.invoice_num}} </td>
                                    <!-- <td>{{invoicedetails.invoice_date}}</td> -->
                                    <td>{{invoicedetails.total_gst_amt}}</td>
                                    <!-- <td>{{invoicedetails.total_invoice_amt}}</td> -->
                                    <td style="padding:7px 1px !important;">

                                        <button type="button" class="btn btn-info"  routerLink="/form/invoices/invoice/EditDetailsMultiple/{{invoicedetails.invoice_multi_id}}"><i class="uil-pen"></i></button>
                                        &nbsp;
                                        <button type="button" class="btn btn-success"  routerLink="/form/invoices/invoice/invoicemultipledetailsview/{{invoicedetails.invoice_multi_id}}"><i class="uil-eye"></i></button>
                                    </td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
  
              </div>
          </div>
      </div>
  </div>
  <!-- end row -->
  </div>
  