<div class="container-fluid">
    <!-- <app-page-title title="Teams List"></app-page-title> -->
   
    <div class="row">
        <div class="col-md-4"> 
            <app-page-title title="Company List"></app-page-title>
        </div>
        <div class="col-md-8"  style="text-align: right;">
                <button type="button" class="btn btn-primary mb-3"  routerLink="/form/company"><i class="mdi mdi-plus me-1"></i>
                Add Company Details</button>
        </div>
        <!-- Search -->
        <div class="col-md-8">
            <!-- <div id="tickets-table_filter" class="dataTables_length"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchcompanylist" class="form-control form-control-sm ms-2"
                  aria-controls="tickets-table" [(ngModel)]="searchcompanylist"></label>
              </div> -->
        </div>
      <!-- End search -->
        <div class="col-md-4">
            <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [maxSize]="4" [collectionSize]="companyList.length" [boundaryLinks]="true"  style="justify-content: right!important;"></ngb-pagination>
        </div>
    </div>

      
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <!-- <h4 class="card-title">Registered Roles</h4> -->
    
                  <div class="table-responsive">
                      <table class="table mb-0">
                          <thead>
                             <!-- Sorting-->
                             <tr>
                                <th [class.active]="order === 'cname'" (click)="setOrder('cname')">
                                    Company Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'cpan'" (click)="setOrder('cpan')">
                                    Pan No<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'cgst'" (click)="setOrder('cgst')">
                                    GST No<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'registered_address'" (click)="setOrder('registered_address')">
                                    Register Address<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'contact1'" (click)="setOrder('contact1')">
                                    Conatct No<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'email1'" (click)="setOrder('email1')">
                                    Official Email<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th>Actions</th>
                            </tr>
                            <!-- Sorting End-->
                            <!-- Search -->
                             <tr>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="cname_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="cpan_search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="cgst_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="registered_address_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="contact1_Search">
                                </th>
                                <th>
                                    <input type="text" class="form-control form-control-sm ms-2"
                                        aria-controls="tickets-table" [(ngModel)]="email1_Search">
                                </th>
                            </tr>  
                            <!-- End search -->
                              
                          </thead>
                          <tbody>
                              <tr  *ngFor="let companylist of companylistArr | searchcompanylist:cname_Search:cpan_search:cgst_Search:registered_address_Search:contact1_Search:email1_Search | orderBy: order:reverse:caseInsensitive | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <!-- <th scope="row">{{companylist.debtor_company_det_id}}</th> -->
                                    <td>{{companylist.cname}}</td>
                                    <td>{{companylist.cpan}}</td>
                                    <td>{{companylist.cgst}}</td>
                                    <td>{{companylist.registered_address}}</td>
                                    <!-- <td>{{companylist.billing_address}}</td> -->
                                    <td>{{companylist.contact1}}</td>
                                    <!-- <td>{{companylist.contact2}}</td> -->
                                    <td>{{companylist.email1}}</td>
                                    <!-- <td>{{companylist.email2}}</td> -->
                                    <td>
                                        <button type="button" class="btn btn-info"  routerLink="/form/editcompany/{{companylist.debtor_company_det_id}}"><i class="uil-pen"></i></button>
                                        &nbsp;&nbsp;
                                        <button type="button" class="btn btn-success"  routerLink="/form/companylistview/{{companylist.debtor_company_det_id}}"><i class="uil-eye"></i></button>
                                    </td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
  
              </div>
          </div>
      </div>
  </div>
  <!-- end row -->
  </div>
  