<div class="container-fluid">
    <app-page-title title="Groups List"></app-page-title>
   
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <!-- <h4 class="card-title">Registered Roles</h4> -->
    
                  <div class="table-responsive">
                      <table class="table mb-0">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Slug</th>
                                  <th>Group Name</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr  *ngFor="let group of groupsArr">
                                  <th scope="row">{{group.id}}</th>
                                  <td>{{group.slug}}</td>
                                  <td>{{group.groupname}}</td>
                                  <td><button type="button" class="btn btn-danger"  (click)="deleteGroupsData(group.id)">Delete</button> 
                                    &nbsp;
                                   <button type="button" class="btn btn-success"  routerLink="/form/editgroups/{{group.id}}">Edit</button>
                                </td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
  
              </div>
          </div>
      </div>
  </div>
  <!-- end row -->
  </div>
  