<div class="mt4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Log in here</div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <a href="/login" class="mb-5 d-block auth-logo">
                <img src="assets/images/logo-dark.png" alt="" width="50%" style="text-align: center;"
                  class="logo logo-dark">
                <img src="assets/images/logo-light.png" alt="" width="50%" style="text-align: center;"
                  class="logo logo-light">
              </a>
            </div>
          </div>
        </div>
      </div>
      <span style="color:red;margin-left: 275px;"> {{this.error}}</span>
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" [(ngModel)]="form.email" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPassword3" [(ngModel)]="form.password"
              required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
      </form>
    </div>
  </div>
</div>