<div class="container-fluid">

    <div class="page-title-box d-flex align-items-center justify-content-between"  style="padding-bottom:0px !important;"> 
      <!-- start page title -->
      <div class="mb-0 font-size-20">
          <h4>Add Sales Details Week Count:{{booking_date | date:'W'}}</h4> 
      </div>

      <!-- end page title -->

    
    </div> 


<form  (ngSubmit)="submitSalesdetails()">

  <div class="mb-3 row">
  
    <div class="col-md-3 form-group">
     
      <label for="example-text-input" class="col-form-label">Client Name</label>
      <!-- <input class="form-control" type="text" value="" id="firstname" name="firstname"> -->
     
      <ng-select  name="client_id"  [(ngModel)]="salesdetails.client_id"  required>
        <ng-option value="">-- Select Client --</ng-option>
        <ng-option *ngFor="let cl of clientArr"  value="{{cl.client_id}}">
        {{cl.name}}
        </ng-option>
       </ng-select>
      <span class="text-danger" [hidden]="!error.client_id">{{error.client_id}}</span>
      <button type="button" class="btn btn-primary waves-effect waves-light"  (click)="openModal(content)"><i class="mdi mdi-plus me-1"></i></button>
      
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Chanel Partner Name</label>
      <ng-select  name="cp_id"  [(ngModel)]="salesdetails.cp_id"  required>
          <ng-option value="">-- Select Chanel Partner --</ng-option>
          <ng-option *ngFor="let cl of channelpartnerArr"  value="{{cl.cp_id}}">
          {{cl.cp_name}}
          </ng-option>
      </ng-select>
      <span class="text-danger" [hidden]="!error.cp_id">{{error.cp_id}}</span>
      <button type="button" class="btn btn-primary waves-effect waves-light"  (click)="openModal(content1)"><i class="mdi mdi-plus me-1"></i></button>
    </div>

   
    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Projects Name</label>
      <!-- <input class="form-control" type="text" value="" id="middlename"  name="middlename"> -->
      <select  class="form-control" name="project_id"  (change)="getState($event)"  [(ngModel)]="salesdetails.project_id"  required>
        <option value="">-- Select Projects --</option>
        <option *ngFor="let pl of projectArr"  value="{{pl.project_id}}">
        {{pl.project_name}}
        </option>
     </select>
     <span class="text-danger" [hidden]="!error.project_id">{{error.project_id}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Subprojects Name</label>
      <!-- <input class="form-control" type="text" value="" id="lastname"  name="lastname"> -->
      <select  class="form-control" name="subproject_id"  [(ngModel)]="salesdetails.subproject_id">
        <option value="">-- Select Subproject Name --</option>
        <option *ngFor="let sl of subprojectsArr"  value="{{sl.subproject_id}}">  {{sl.subproject_name}}
        </option>
    </select>
    <!-- <span class="text-danger" [hidden]="!error.subproject_id">{{error.subproject_id}}</span> -->
    </div>

  </div>


  <div class="mb-3 row">

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Booking Date</label>
      <input class="form-control" type="date" value="" id="booking_date"  name="booking_date"  [(ngModel)]="salesdetails.booking_date"  (change)="getDate($event)"  required>
      <span class="text-danger" [hidden]="!error.booking_date">{{error.booking_date}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Building Name</label>
      <input class="form-control" type="text" value="" id="building_name"  name="building_name"  [(ngModel)]="salesdetails.building_name"  required>
      <span class="text-danger" [hidden]="!error.building_name">{{error.building_name}}</span>
    </div>


    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Wing</label>
      <input class="form-control" type="text" value="" id="wing"  name="wing"  [(ngModel)]="salesdetails.wing"  required>
      <span class="text-danger" [hidden]="!error.wing">{{error.wing}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Flat No</label>
      <input class="form-control" type="text" value="" id="flat_no" name="flat_no"  [(ngModel)]="salesdetails.flat_no"  required>
      <span class="text-danger" [hidden]="!error.flat_no">{{error.flat_no}}</span>
    </div>

  </div>


  <div class="mb-3 row">

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Company Name</label>
      <!-- <input class="form-control" type="text" value="" id="middlename"  name="middlename"> -->
      <ng-select  name="debtor_company_det_id" [(ngModel)]="salesdetails.debtor_company_det_id"  required>
        <ng-option value="">-- Select Company Name --</ng-option>
        <ng-option *ngFor="let pl of companylistArr"  value="{{pl.debtor_company_det_id}}">
        {{pl.cname}}
        </ng-option>
     </ng-select>
     <span class="text-danger" [hidden]="!error.debtor_company_det_id">{{error.debtor_company_det_id}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Consideration Value</label>
      <input class="form-control" type="text" value="" id="consideration_value"   name="consideration_value"  [(ngModel)]="salesdetails.consideration_value"  (keyup)="getBusinessValue1($event)" required>
      <span class="text-danger" [hidden]="!error.consideration_value">{{error.consideration_value}}</span>
  
    </div>
    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Case Payout (in %)</label>
      <input class="form-control" type="text" value="" id="case_payout_percentage"  name="case_payout_percentage"  [(ngModel)]="salesdetails.case_payout_percentage">
      <span class="text-danger" [hidden]="!error.case_payout_percentage">{{error.case_payout_percentage}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Payout Value</label>
      <!-- <input class="form-control" type="text" value="" id="payout_value"  name="payout_value"  [(ngModel)]="salesdetails.payout_value"> -->
      <select  class="form-control" name="payout_value"  [(ngModel)]="salesdetails.payout_value"  disabled>  
        <option   value="{{salesdetails.payout_value}}" selected> {{bmi}}
         </option>
      </select>
      <span class="text-danger" [hidden]="!error.payout_value">{{error.payout_value}}</span>
    </div>
  </div>

  <div class="mb-3 row">

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Extra Payout (in %)</label>
      <input class="form-control" type="text" value="" id="extra_payout_percentage"  name="extra_payout_percentage"  [(ngModel)]="salesdetails.extra_payout_percentage">
      <span class="text-danger" [hidden]="!error.extra_payout_percentage">{{error.extra_payout_percentage}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Extra Payout (in value)</label>
      <input class="form-control" type="text" value="" id="extra_payout_value"  name="extra_payout_value"  [(ngModel)]="salesdetails.extra_payout_value">
      <span class="text-danger" [hidden]="!error.extra_payout_value">{{error.extra_payout_value}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Net Extra Payout</label>
      <!-- <input class="form-control" type="text" value="" id="net_extra_payout"  name="net_extra_payout"  [(ngModel)]="salesdetails.net_extra_payout"> -->
      <select  class="form-control" name="net_extra_payout"  [(ngModel)]="salesdetails.net_extra_payout"  disabled>  
        <option   value="{{salesdetails.net_extra_payout}}" selected> {{bmi2}}
         </option>
      </select>
      <span class="text-danger" [hidden]="!error.net_payout">{{error.net_payout}}</span>
      <span class="text-danger" [hidden]="!error.net_extra_payout">{{error.net_extra_payout}}</span>
    </div>

    <!-- <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Extra Payout</label>
      <input class="form-control" type="text" value="" id="extra_payout"  name="extra_payout"  [(ngModel)]="salesdetails.extra_payout">
      <span class="text-danger" [hidden]="!error.extra_payout">{{error.extra_payout}}</span>
    </div> -->

  </div>


  <div class="mb-3 row">

    
    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Shared Payout (in %)</label>
      <input class="form-control" type="text" value="" id="shared_payout"  name="shared_payout"  [(ngModel)]="salesdetails.shared_payout">
      <span class="text-danger" [hidden]="!error.shared_payout">{{error.shared_payout}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Shared Payout (in value)</label>
      <input class="form-control" type="text" value="" id="shared_payout_value"  name="shared_payout_value"  [(ngModel)]="salesdetails.shared_payout_value" (keyup)="getBusinessValue2($event)">
      <span class="text-danger" [hidden]="!error.shared_payout_value">{{error.shared_payout_value}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Net Shared Payout</label>
      <!-- <input class="form-control" type="text" value="" id="net_shared_payout"  name="net_shared_payout"  [(ngModel)]="salesdetails.net_shared_payout"> -->
      <select  class="form-control" name="net_shared_payout"  [(ngModel)]="salesdetails.net_shared_payout"  disabled>  
        <option   value="{{salesdetails.net_shared_payout}}" selected> {{bmi3}}
         </option>
      </select>
      <span class="text-danger" [hidden]="!error.net_shared_payout">{{error.net_shared_payout}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Net Payout</label>
      <!-- <input class="form-control" type="text" value="" id="net_payout"  name="net_payout"  [(ngModel)]="salesdetails.net_payout"> -->
      <select  class="form-control" name="net_payout"  [(ngModel)]="salesdetails.net_payout"  disabled>  
        <option   value="{{salesdetails.net_payout}}" selected> {{bmi1}}
         </option>
      </select>
      <span class="text-danger" [hidden]="!error.net_payout">{{error.net_payout}}</span>
    </div>


  </div>

  <div class="mb-3 row">

    
    <!-- <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Pending Invoice Amount</label>
      <input class="form-control" type="text" value="" id="pending_invoice_amount"  name="pending_invoice_amount"  [(ngModel)]="salesdetails.pending_invoice_amount">
      <span class="text-danger" [hidden]="!error.pending_invoice_amount">{{error.pending_invoice_amount}}</span>
    </div> -->

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Payout Status</label>
        <select  class="form-control"  name="payout_status_id"  [(ngModel)]="salesdetails.payout_status_id"  required>
            <option value="">-- Select Payout Status --</option>
            <option *ngFor="let psl of payoutstatusArr"  value="{{psl.payout_status_id}}">
            {{psl.status}}
            </option>
        </select>
        <span class="text-danger" [hidden]="!error.payout_status_id">{{error.payout_status_id}}</span>
    </div>

    <div class="col-md-3">
      <!-- <label for="example-text-input" class="col-form-label">Sourcing Employee Name</label>
      <select  class="form-control" name="sourcing_emp_id"  (change)="getSourcingData($event)"  [(ngModel)]="salesdetails.sourcing_emp_id"  required>
        <option value="">-- Select Projects --</option>
     <option *ngFor="let ul of usersArr" value="{{ul.user_id}}">
      {{ul.firstname}} {{ul.middlename}} {{ul.lastname}}
     </option>
     </select> -->
     <label for="example-text-input" class="col-form-label">Sourcing Employee Name</label>
        <ng-select  name="sourcing_emp_id"  [(ngModel)]="salesdetails.sourcing_emp_id"  required>
            <ng-option value="">-- Select Sourcing Employee --</ng-option>
            <ng-option *ngFor="let ul of usersArr"  value="{{ul.user_id}}">
            {{ul.firstname}} {{ul.middlename}} {{ul.lastname}}
        </ng-option>
        </ng-select>
        <span class="text-danger" [hidden]="!error.sourcing_emp_id">{{error.sourcing_emp_id}}</span>
    </div>

    <div class="col-md-3">
        <!-- <label for="example-text-input" class="col-form-label">Closing Employee Name</label>
        <select  class="form-control" name="closing_emp_id"  (change)="getClosingData($event)"  [(ngModel)]="salesdetails.closing_emp_id"  required>
          <option value="">-- Select Projects --</option>
       <option *ngFor="let ul of usersArr" value="{{ul.user_id}}">
        {{ul.firstname}} {{ul.middlename}} {{ul.lastname}}
       </option>
       </select> -->
       <label for="example-text-input" class="col-form-label">Closing Employee Name</label>
          <ng-select  name="closing_emp_id"   [(ngModel)]="salesdetails.closing_emp_id"  required>
              <ng-option value="">-- Select Closing Employee --</ng-option>
              <ng-option *ngFor="let ul of usersArr"  value="{{ul.user_id}}" >
              {{ul.firstname}} {{ul.middlename}} {{ul.lastname}}
            </ng-option>
          </ng-select>
          <span class="text-danger" [hidden]="!error.closing_emp_id">Employee Name Field Is required</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Deal Status</label>
      <select  class="form-control"  name="deal_status_id"  [(ngModel)]="salesdetails.deal_status_id"  required>
          <option value="">Select Deal Status</option>
          <option *ngFor="let bl of bookingstatusArr"  value="{{bl.deal_status_id}}">
          {{bl.status}}
          </option>
      </select>
      <span class="text-danger" [hidden]="!error.deal_status_id">{{error.deal_status_id}}</span>
    </div>

  </div>

  <div class="mb-3 row">

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Team Name</label>
      <select  class="form-control"  name="team_id"  [(ngModel)]="salesdetails.team_id">
          <option value="">-- Select Team --</option>
          <option *ngFor="let tl of teamsArr"  value="{{tl.team_id}}">
          {{tl.teamname}}
          </option>
      </select>
      <span class="text-danger" [hidden]="!error.team_id">{{error.team_id}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Leads Source</label>
      <select  class="form-control"  name="leadsource_id" (change)="getBusinessValue3($event)"  [(ngModel)]="salesdetails.leadsource_id"  required>
        <option value="">-- Select Lead Source --</option>
        <option *ngFor="let tl of leadsourceArr"  value="{{tl.leadsource_id}}">
        {{tl.leadsource}}
        </option>
    </select>
    <span class="text-danger" [hidden]="!error.leadsource_id">{{error.leadsource_id}}</span>
    </div>
    <div class="col-md-3" hidden>
      <label for="example-text-input" class="col-form-label">business value</label>
      <input class="form-control" type="text" value="{{salesdetails.business_value}}" id="business_value"  name="business_value"  [(ngModel)]="salesdetails.business_value">
      <span class="text-danger" [hidden]="!error.business_value">{{error.business_value}}</span>
    </div>
    <div class="col-md-3" hidden>
      <label for="example-text-input" class="col-form-label">cv_range</label>
      <input class="form-control" type="text" value="{{salesdetails.cv_range}}" id="cv_range"  name="cv_range"  [(ngModel)]="salesdetails.cv_range">
      <span class="text-danger" [hidden]="!error.cv_range">{{error.cv_range}}</span>
    </div>

    <div class="col-md-3">
      <label for="example-text-input" class="col-form-label">Booking ID</label>
      <input class="form-control" type="text" value="" id="booking_id"  name="booking_id"  [(ngModel)]="salesdetails.booking_id"  required>
      <span class="text-danger" [hidden]="!error.booking_id">{{error.booking_id}}</span>
    </div>

    <div class="col-md-3">
        <label for="example-text-input" class="col-form-label">Remark</label>
        <input class="form-control" type="text" value="" id="remark"  name="remark"  [(ngModel)]="salesdetails.remark">
        <span class="text-danger" [hidden]="!error.remark">{{error.remark}}</span>
      </div>

    </div>

    <div class="mb-3 row">
  
      <div class="col-md-4">
          <label for="example-text-input" class="col-form-label">BA1 Amount Date</label>
          <input class="form-control" type="date" value="" id="BA1_amt_paid"  name="BA1_amt_paid"  [(ngModel)]="salesdetails.BA1_amt_paid"  disabled>
         <span class="text-danger" [hidden]="!error.BA1_amt_paid">The ba1 amt date field is required.</span> 
      </div>

      <div class="col-md-4">
          <label for="example-text-input" class="col-form-label">BA2 Amount Date</label>
          <input class="form-control" type="date" value="" id="BA2_amt_paid"  name="BA2_amt_paid"  [(ngModel)]="salesdetails.BA2_amt_paid"  disabled>
          <span class="text-danger" [hidden]="!error.BA2_amt_paid">The ba2 amt date field is required.</span> 
       </div>

      <div class="col-md-4">
          <label for="example-text-input" class="col-form-label">Registration Date</label>
          <input class="form-control" type="date" value="" id="registration_date"  name="registration_date"  [(ngModel)]="salesdetails.registration_date">
          <!-- <span class="text-danger" [hidden]="!error.registration_date">{{error.registration_date}}</span>  -->
      </div>

    </div>

    

  <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
  <button type="button" class="btn btn-primary"  routerLink="/form/salesdetailslist">Cancel</button>
</form>
  
  </div> <!-- container-fluid -->

  <!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Create Client Details</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
      <app-clientdetails></app-clientdetails> 
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->
</ng-template>


  <!-- Standard Modal1 -->
  <ng-template #content1 role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Create Channel Partner</h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
        <app-channelpartner></app-channelpartner> 
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
  </ng-template>



