<div class="container-fluid">

  
    <!-- <app-page-title title="Create Channel Partner"></app-page-title> -->
    


<form  (ngSubmit)="submitchannelpartner(editForm)"   #editForm="ngForm"  id="editForm">

    <div class="mb-3 row">
  
        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Channel Partner Name</label>
            <input class="form-control" type="text" value="" id="cp_name"  name="cp_name"  [(ngModel)]="channelpartner.cp_name"  required>
            <span class="text-danger" [hidden]="!error.cp_name">{{error.cp_name}}</span>
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Category</label>
            <!-- <input class="form-control" type="text" value="" id="catrgory_id"  name="catrgory_id"  [(ngModel)]="clientdetails.catrgory_id"> -->
            <select  class="form-control"  name="catrgory_id"  [(ngModel)]="channelpartner.catrgory_id">
                <option value="">-- Select Category --</option>
                <option value="1">Category 1</option>
                <option value="2">Category 2</option>
            </select>
            <span class="text-danger" [hidden]="!error.catrgory_id">{{error.catrgory_id}}</span>
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Occupation</label>
            <!-- <input class="form-control" type="text" value="" id="occupation_id"  name="occupation_id"  [(ngModel)]="clientdetails.occupation_id"> -->
            <select  class="form-control"  name="occupation_id"  [(ngModel)]="channelpartner.occupation_id">
                <option value="">-- Select Occupation --</option>
                <option value="1">Occupation 1</option>
                <option value="2">Occupation 2</option>
            </select>
            <span class="text-danger" [hidden]="!error.occupation_id">{{error.occupation_id}}</span>
        </div>

    </div>


    <div class="mb-3 row">

        <div class="col-md-6">
      <label for="example-text-input" class="col-form-label">Conatct No. - 1</label>
      <input class="form-control" type="text" value="" id="mobile1"  name="mobile1"  [(ngModel)]="channelpartner.mobile1" 
      (keypress)="keyPressNumbers($event)"
      maxlength="10">
      <span class="text-danger" [hidden]="!error.mobile1">{{error.mobile1}}</span>
        </div>

        <div class="col-md-6">
      <label for="example-text-input" class="col-form-label">Conatct No. - 2</label>
      <input class="form-control" type="text" value="" id="mobile2"  name="mobile2"  [(ngModel)]="channelpartner.mobile2" 
      (keypress)="keyPressNumbers($event)"
      maxlength="10">
        </div>

    </div>


    <div class="mb-3 row">

        <div class="col-md-6">
        <label for="example-text-input" class="col-form-label">Email - 1</label>
        <input class="form-control" type="email" value="" id="email1"  name="email1"  [(ngModel)]="channelpartner.email1">
        <span class="text-danger" [hidden]="!error.email1">{{error.email1}}</span>
        </div>

        <div class="col-md-6">
        <label for="example-text-input" class="col-form-label">Email - 2</label>
        <input class="form-control" type="email" value="" id="email2"  name="email2"  [(ngModel)]="channelpartner.email2">
        </div>

    </div>

    <div class="mb-3 row">

        <div class="col-md-6">
        <label for="example-text-input" class="col-form-label">Address</label>
        <textarea class="form-control" type="text" value="" id="address"  name="address"  [(ngModel)]="channelpartner.address"></textarea>
        <span class="text-danger" [hidden]="!error.address">{{error.address}}</span>
        </div>

        <div class="col-md-6">
        <label for="example-text-input" class="col-form-label">Date Of Birth</label>
        <input class="form-control" type="date" value="" id="date_of_birth"  name="date_of_birth"  [(ngModel)]="channelpartner.date_of_birth">
        <span class="text-danger" [hidden]="!error.date_of_birth">{{error.date_of_birth}}</span>
        </div>

    </div>
 
        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
        <button type="button" class="btn btn-primary"  routerLink="/form/channelpartnerslist">Cancel</button>
</form>

   
  
</div> 
