<div class="card">
    <div class="card-body">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink>User Details</a>
		<ng-template ngbNavContent>
			<div class="row">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    
                    <div class="mb-0 font-size-20">
                      <h4>Users Details</h4> 
                   </div>
                   <div class="col-md-8"  style="text-align: right;">
                           <button type="button" class="btn btn-primary mb-3"  routerLink="/form/newusers" style="margin-right: 10px;">Create Users</button>
                    
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="card">
                        <div class="row">
                            <div class="card-body">
                                <div class="col-md-12">
                                <div class="table-responsive">
                                <table class="table" id='tab'>
                                    <tr>
                                        <td colspan="2">
                                            <div class="col-md-12"  style="text-align: left;">
                                                <h4> <i class="fas fa-user border" style="font-size: 47px; padding: 9px;"></i> {{users.firstname}} {{users.lastname}}</h4>
                                            </div> 
                                        </td>
                                        <td colspan="4">
                                           <div class="col-md-12"  style="text-align: right;">
                                            <button type="button" class="btn btn-primary mb-3" (click)="back()"><i class='fas fa-angle-left fa-lg'></i> Back</button>&nbsp;
                                            <button type="button" class="btn btn-primary mb-3" routerLink="/form/editusers/{{users.user_id}}"><i class='fas fa-edit fa-lg'></i></button>&nbsp;
                                            <button type="button" class="btn btn-primary mb-3"  (click)="doSomeLogics()"><i class='fas fa-angle-left fa-lg'></i></button>&nbsp;
                                            <button type="button" class="btn btn-primary mb-3"  (click)="doSomeLogic()"><i class='fas fa-angle-right fa-lg'></i></button>
                                          </div>
                                        </td>
                                    </tr>
                                    <tbody>
                                      
                                        <tr>
                                              <!-- <td scope="col">ID</td>
                                              <td><b>{{users.user_id}}</b></td> -->
                                         
                                              <td scope="col">Name</td>
                                              <td><b>{{users.firstname}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Middlename</td>
                                              <td><b>{{users.middlename}}</b></td>
                                         
                                              <td scope="col">Lastname</td>
                                              <td><b>{{users.lastname}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Email</td>
                                              <td><b>{{users.email}}</b></td>
                                         
                                              <td scope="col">Mobile No.</td>
                                              <td><b>{{users.mobile_no}}</b></td>
                                          </tr>
                                          
                                          <tr>
                                              <td scope="col">Date Of Birth</td>
                                              <td><b>{{users.date_of_birth}}</b></td>
                                          
                                              <td scope="col">Pan Number</td>
                                              <td><b>{{users.pan_no}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Qualification</td>
                                              <td><b>{{users.qualification}}</b></td>
                                        
                                              <td scope="col">Marital Status</td>
                                              <td><b>{{users.marital_status}}</b></td>
                                          <tr>
                                              <td scope="col">Joining Date</td>
                                              <td><b>{{users.joining_date}}</b></td>
                                          
                                              <td scope="col">Experience In Year</td>
                                              <td><b>{{users.experience_in_year}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Last Package</td>
                                              <td><b>{{users.last_package}}</b></td>
                                         
                                              <td scope="col">Designation</td>
                                              <td><b>{{users.designation}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Permanant Address</td>
                                              <td><b>{{users.permanant_address}}</b></td>
                  
                                              <td scope="col">Current Address</td>
                                              <td><b>{{users.current_address}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Home Contact Number</td>
                                              <td><b>{{users.home_contactno}}</b></td>
                  
                                              <td scope="col">Resignation Date</td>
                                              <td><b>{{users.resignation_date}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Employee Status</td>
                                              <td><b>{{users.status_id}}</b> </td>
                                     
                  
                                              <td scope="col">Experience In Months</td>
                                              <td><b>{{users.experience_in_months}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Previous Company Name</td>
                                              <td><b>{{users.privious_company_contactname}}</b></td>
                  
                                              <td scope="col">Previous Company Contact</td>
                                              <td><b>{{users.privious_company_contact}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Source</td>
                                              <td><b>{{users.source}}</b></td>
                  
                                              <td scope="col">Source By</td>
                                              <td><b>{{users.source_by}}</b></td>
                                          </tr>
                                          <tr>
                                              <td scope="col">Remark By HR</td>
                                              <td><b>{{users.remark_by_HR}}</b></td>
                  
                                          </tr> 
                                        
                                    
                                      </tbody>
                                     
                                </table>
                               
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                     <form (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="example-text-input" class="col-form-label"><b>Add Comment</b></label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control" type="text" value="" id="comment"  name="comment"  [(ngModel)]="users.comment" required>
                                </textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                                  <!-- <div class="mb-3 row">
                                  <div class="col-md-2">
                   
                            <label for="example-text-input" class="col-form-label"><b>Add Comment</b></label>
                            </div>
                            <div class="col-md-6">
                            <textarea class="form-control" type="text" value="" id="comment"  name="comment"  [(ngModel)]="users.comment" required>
                            </textarea>
                            </div>
                        </div>
                            <button type="submit" class="btn btn-primary">Add</button> -->
                
                
                            
                           </form> 
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                  <h4>Comments</h4>
                                  <table>
                                      <tbody>
                                      <tr *ngFor="let com of commentArr">
                                              
                                         <td><i class="fas fa-user border" style="font-size: 40px; padding: 6px;"></i></td>
                                         <td>
                                             <tr></tr>
                                         <tr>
                                              {{users.firstname}} {{users.lastname}}
                                            </tr>
                                          <tr>
                                              {{com.comment}}
                                            </tr>
                                        </td>
                                    </tr>
                
                                        
                                
                
                
                
                                </tbody>
                                </table>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>Documents</a>
		<ng-template ngbNavContent>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Registered Roles</h4> -->
                           <button type="button" class="btn btn-primary mb-3"  routerLink="/form/documents/{{users.user_id}}">Add Documents</button>
                            
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                          
                                            <th>Doc 1</th>
                                            <th>Doc 2</th>
                                            <th>Doc 3</th>
                                            <th>Doc 4</th>
                                            <th>Doc 5</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  *ngFor="let empdoc of empDocumentArr">
                                            <!-- <td (click)="data1()">{{empdoc.doc1}}</td> -->
                                            
                                              <!-- <td><a href="" width="100%" height="100%"></a></td> -->
                                              <td><a target="_self" href="assets/img/{{empdoc.doc1}}" width="100%" height="100%">{{empdoc.doc1}}</a></td>
                                              <td><a target="_self" href="assets/img/{{empdoc.doc2}}" width="100%" height="100%">{{empdoc.doc2}}</a></td>
                                              <td><a target="_self" href="assets/img/{{empdoc.doc3}}" width="100%" height="100%">{{empdoc.doc3}}</a></td>
                                              <td><a target="_self" href="assets/img/{{empdoc.doc4}}" width="100%" height="100%">{{empdoc.doc4}}</a></td>
                                              <td><a target="_self" href="assets/img/{{empdoc.doc5}}" width="100%" height="100%">{{empdoc.doc5}}</a></td>
        
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink>Salary Package</a>
		<ng-template ngbNavContent>
            <style>

                button.btn.btn-success {
                    padding: 5px 10px;
                }
            
                button.btn.btn-info {
                    padding: 5px 10px;
                }
            
                button.btn.btn-danger {
                    padding: 4px 10px;
                }
                
                td {
                    /* padding: 10px 15px; */
                    padding: 10px 10px;
                }
                
                button.btn.btn-primary.mb-3 {
                    padding: 4px 8px;
                }
                
            </style>
            
            <div class="container-fluid">
                <!-- <app-page-title title="Teams List"></app-page-title> -->
               
                <div class="row">
                    <div class="col-md-4">
                      <div>
                        <app-page-title title="Salary Package List"></app-page-title>
            
                      </div>
                    </div>
                    <div class="col-md-8"  style="text-align: right;">
                            <button type="button" class="btn btn-primary mb-3"  routerLink="/form/salary/salarypackageDetails/{{usersid}}"><i class="mdi mdi-plus me-1"></i>
                            Add Salary Package</button>
                    </div>
                    <!-- Search -->
                    <!-- <div class="col-md-12">
                        <div id="tickets-table_filter" class="dataTables_length"><label
                            class="d-inline-flex align-items-center">Search:
                            <input type="text" name="searchteamleaderslist" class="form-control form-control-sm ms-2"
                              aria-controls="tickets-table"  [(ngModel)]="searchteamleaderslist"></label>
                          </div>
                    </div> -->
                  <!-- End search -->
                  <div class="col-md-8">
                    <!-- <div id="tickets-table_filter" class="dataTables_length"><label
                        class="d-inline-flex align-items-center">Search:
                        <input type="text" name="searchsalarypackage" class="form-control form-control-sm ms-2"
                          aria-controls="tickets-table" [(ngModel)]="searchsalarypackage"></label>
                      </div> -->
                </div>
                <div class="col-md-4">
                  <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [maxSize]="4" [collectionSize]="salarypackageList.length" [boundaryLinks]="true"  style="justify-content: right!important;"></ngb-pagination>
                 </div>
                </div>
                  
              <div class="row">
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-body"  style="padding: 0 10px 0 10px;">
                              <!-- <h4 class="card-title">Registered Roles</h4> -->
                
                              <div class="table-responsive">
                                  <table class="table mb-0">
                                      <thead>
                                          <tr>
                                            <th [class.active]="order === 'firstname'" (click)="setOrder('firstname')">
                                                User Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                              </th>
                                              <th [class.active]="order === 'from_date'" (click)="setOrder('from_date')">
                                                From Date<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                              </th>
                                              <th [class.active]="order === 'basic_pay'" (click)="setOrder('basic_pay')">
                                                Basic Pay<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                              </th>
                                              <th [class.active]="order === 'monthly_salary'" (click)="setOrder('monthly_salary')">
                                                Monthly Salary<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                              </th>
                                              <th [class.active]="order === 'yearly_salary'" (click)="setOrder('yearly_salary')">
                                                Yearly Salary<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                              </th>
                                              <!-- <th>Actions</th> -->
                                          </tr>
                                          <!-- Search -->
                                         <tr>
                                            <th>
                                                <input type="text" class="form-control form-control-sm ms-2"
                                                    aria-controls="tickets-table" [(ngModel)]="firstname_Search">
                                            </th>
                                            <th>
                                                <input type="date" class="form-control form-control-sm ms-2"
                                                    aria-controls="tickets-table" [(ngModel)]="from_date_Search">
                                            </th>
                                            <th>
                                                <input type="text" class="form-control form-control-sm ms-2"
                                                    aria-controls="tickets-table" [(ngModel)]="basic_pay_Search">
                                            </th>
                                            <th>
                                                <input type="text" class="form-control form-control-sm ms-2"
                                                    aria-controls="tickets-table" [(ngModel)]="monthly_salary_Search">
                                            </th>
                                            <th>
                                                <input type="text" class="form-control form-control-sm ms-2"
                                                    aria-controls="tickets-table" [(ngModel)]="yearly_salary_Search">
                                            </th>
                                        </tr> 
                                        <!-- End search -->
                                      </thead>
                                      <tbody>
                                          <tr  *ngFor="let salarypackage of salarypackageArr | searchsalarypackage:firstname_Search:from_date_Search:basic_pay_Search:monthly_salary_Search:yearly_salary_Search | orderBy: order:reverse:caseInsensitive | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                                <!-- <th scope="row">{{salarypackage.salary_package_id}}</th> -->
                                                <td>{{salarypackage.firstname}} {{salarypackage.lastname}}</td>
                                                <td>{{salarypackage.from_date}}</td>
                                                <td>{{salarypackage.basic_pay}}</td>
                                                <td>{{salarypackage.monthly_salary}}</td>
                                                <td>{{salarypackage.yearly_salary}}</td>
                                                <!-- <td>
                                                    <button type="button" class="btn btn-info"  routerLink="/form/salary/editsalarypackage/{{salarypackage.salary_package_id}}"><i class="uil-pen"></i></button>
                                                    &nbsp;
                                                    <button type="button" class="btn btn-success"  routerLink="/form/salary/salarypackageview/{{salarypackage.salary_package_id}}"><i class="uil-eye"></i></button>
                                                    &nbsp;
                                                    <button type="button" class="btn btn-danger"  (click)="deleteSalarypackageData(salarypackage.salary_package_id)"><i class="uil-trash-alt"></i></button>
                                                </td> -->
                                          </tr>
                                         
                                      </tbody>
                                  </table>
                              </div>
              
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end row -->
              </div>
              
		</ng-template>
	</li>
</ul>
</div>
</div>
<!-- <div class="card">
    <div class="card-body"> -->
<div [ngbNavOutlet]="nav" class="mt-2"></div>
<!-- </div>
</div> -->



<!-- <div class="container-fluid">
   


   


</div> -->