<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Create Monthly Salary"></app-page-title>
    <!-- end page title -->


<form  (ngSubmit)="submitMonthlysalary()">

    <div class="mb-3 row">

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">User Name</label>
            <select  class="form-control" name="user_id"  [(ngModel)]="monthlysalary.user_id">
                <option value="">-- Select User Name --</option>
                <option *ngFor="let ul of usersArr"  value="{{ul.user_id}}"> {{ul.firstname}} {{ul.middlename}} {{ul.lastname}}
                </option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Salary Package ID</label>
            <select  class="form-control" name="salary_package_id"  [(ngModel)]="monthlysalary.salary_package_id">
                <option value="">-- Select User Name --</option>
                <option *ngFor="let sal of salarypackageArr"  value="{{sal.salary_package_id}}"> {{sal.salary_package_id}}
                </option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Salary Month</label>
            <select  class="form-control" name="salary_month"  [(ngModel)]="monthlysalary.salary_month">
                <option value="">-- Select User Name --</option>
                <option value="1"> January </option>
                <option value="2"> February </option>
                <option value="3"> March </option>
                <option value="4"> April </option>
                <option value="5"> May </option>
                <option value="6"> June </option>
                <option value="7"> July </option>
                <option value="8"> August </option>
                <option value="9"> September </option>
                <option value="10"> October </option>
                <option value="11"> November </option>
                <option value="12"> December </option>
            </select>
        </div>

    </div>


    <div class="mb-3 row">

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Absent Days</label>
            <input class="form-control" type="text" value="" name="absent_days"  [(ngModel)]="monthlysalary.absent_days"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">No of Late Marks</label>
            <input class="form-control" type="text" value="" name="no_of_late_marks"  [(ngModel)]="monthlysalary.no_of_late_marks"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Penalty Leave Days</label>
            <input class="form-control" type="text" value="" name="penalty_leave_days"  [(ngModel)]="monthlysalary.penalty_leave_days"
            (keypress)="keyPressNumbers($event)">
        </div>

    </div>

    <div class="mb-3 row">

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Extra Days</label>
            <input class="form-control" type="text" value="" name="extra_days"  [(ngModel)]="monthlysalary.extra_days"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Net Present Days</label>
            <input class="form-control" type="text" value="" name="net_present_days"  [(ngModel)]="monthlysalary.net_present_days"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Monthly Basic Salary</label>
            <input class="form-control" type="text" value="" name="monthly_basic_salary"  [(ngModel)]="monthlysalary.monthly_basic_salary"
            (keypress)="keyPressNumbers($event)">
        </div>
  
      </div>

      <div class="mb-3 row">

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Monthly Variable Pay</label>
            <input class="form-control" type="text" value="" name="monthly_variable_pay"  [(ngModel)]="monthlysalary.monthly_variable_pay"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Reimbursement</label>
            <input class="form-control" type="text" value="" name="reimbursement"  [(ngModel)]="monthlysalary.reimbursement"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Incentives</label>
            <input class="form-control" type="text" value="" name="incentives"  [(ngModel)]="monthlysalary.incentives"
            (keypress)="keyPressNumbers($event)">
        </div>
  
      </div>

      <div class="mb-3 row">

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Deduction</label>
            <input class="form-control" type="text" value="" name="deduction"  [(ngModel)]="monthlysalary.deduction"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Liabilities</label>
            <input class="form-control" type="text" value="" name="liabilities"  [(ngModel)]="monthlysalary.liabilities"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Total Pay</label>
            <input class="form-control" type="text" value="" name="total_pay"  [(ngModel)]="monthlysalary.total_pay"
            (keypress)="keyPressNumbers($event)">
        </div>
  
      </div>

      <div class="mb-3 row">

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Tds Deducted</label>
            <input class="form-control" type="text" value="" name="tds_deducted"  [(ngModel)]="monthlysalary.tds_deducted"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Net Pay</label>
            <input class="form-control" type="text" value="" name="net_pay"  [(ngModel)]="monthlysalary.net_pay"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Status</label>
            <input class="form-control" type="text" value="" name="status"  [(ngModel)]="monthlysalary.status">
        </div>
  
      </div>

      <div class="mb-3 row">

        <div class="col-md-3">
            <label for="example-text-input" class="col-form-label">Remark</label>
            <input class="form-control" type="text" value="" name="remark"  [(ngModel)]="monthlysalary.remark">
        </div>

        <div class="col-md-3">
            <label for="example-text-input" class="col-form-label">Paid Amount</label>
            <input class="form-control" type="text" value="" name="paid_amount"  [(ngModel)]="monthlysalary.paid_amount"
            (keypress)="keyPressNumbers($event)">
        </div>

        <div class="col-md-3">
            <label for="example-text-input" class="col-form-label">Payment Details</label>
            <input class="form-control" type="text" value="" name="payment_details"  [(ngModel)]="monthlysalary.payment_details">
        </div>

        <div class="col-md-3">
            <label for="example-text-input" class="col-form-label">Pending Amount</label>
            <input class="form-control" type="text" value="" name="pending_amount"  [(ngModel)]="monthlysalary.pending_amount"
            (keypress)="keyPressNumbers($event)">
        </div>
  
      </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

   
  
  </div> <!-- container-fluid -->
