<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Create Team Details"></app-page-title>
    <!-- end page title -->


<form  (ngSubmit)="submitTeamdetails()">

    <div class="mb-3 row">
  
      <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">User Name</label>
            <select  class="form-control" name="user_id"  [(ngModel)]="teamdetails.user_id"  (change)="getUser($event)" required>
                <option value="">-- Select User Name --</option>
                <option *ngFor="let ul of usersArr"  value="{{ul.user_id}}"> {{ul.firstname}} {{ul.middlename}} {{ul.lastname}}
                </option>
            </select>
            <span class="text-danger" [hidden]="!error.user_id">{{error.user_id}}</span>
      </div>
      <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">Team Name</label>
        <select  class="form-control"  name="team_name_id" (change)="getteam($event)" [(ngModel)]="teamdetails.team_id"  required>
            <option value="">-- Select Team Name --</option>
            <option *ngFor="let tl of teamsArr"  value="{{tl.team_id}}">  {{tl.teamname}}
            </option>
        </select>
        <span class="text-danger" [hidden]="!error.team_name_id">{{error.team_name_id}}</span>
      </div>
      <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">Team Leader Name</label>
        <select  class="form-control"  name="team_leader_name"  [(ngModel)]="teamdetails.team_leader_name" required>
            <!-- <option value="">-- Select Team Leader Name --</option> -->
            <option  value="{{teamdetails.team_leader_name}}">  {{teamdetails.team_leader_name}}
            </option>                                                                                                                                                       a
        </select>
        <span class="text-danger" [hidden]="!error.team_leader_name">{{error.team_leader_name}}</span>
      </div>

    </div>


    <div class="mb-3 row">

      <!-- <div class="col-md-4">
            <label for="example-text-input" class="col-form-label">Designation</label>
            <select  class="form-control"  name="designation_id"  [(ngModel)]="teamdetails.designation_id"  required>  
                <option value="">-- Select Designation --</option>
                <option *ngFor="let dl of designationArr"  value="{{dl.designation_id}}"> {{dl.designation}}
                </option>
            </select>
            <span class="text-danger" [hidden]="!error.designation_id">{{error.designation_id}}</span>
      </div> -->

      <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">Designation</label>
        <select  class="form-control" name="designation"  [(ngModel)]="teamdetails.designation_id"  required>
           
            <option value="{{teamdetails.designation_id}}"> {{teamdetails.designation}}
            </option>
        </select>
        <span class="text-danger" [hidden]="!error.designation_id">{{error.designation_id}}</span>
      </div>

      <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">Status</label>
        <select  class="form-control"  name="status"  [(ngModel)]="teamdetails.status"  required>
            <option value="">-- Select Status --</option>
            <option value="{{teamdetails.emp_status_id}}"> {{teamdetails.empstatus}}
            </option>
        </select>
        <span class="text-danger" [hidden]="!error.status">{{error.status}}</span>
      </div>

      <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">From Date</label>
        <input class="form-control" type="date" value="" name="from_date"  [(ngModel)]="teamdetails.from_date"  required>
        <span class="text-danger" [hidden]="!error.from_date">{{error.from_date}}</span>
      </div>

    </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

   
  
  </div> <!-- container-fluid -->
