<div class="container-fluid">
    <!-- <app-page-title title="Designations List"></app-page-title> -->
   
    <div class="row">
        <div class="col-md-4">
          <div>
            <app-page-title title="Designations List"></app-page-title>

          </div>
        </div>
        <div class="col-md-8"  style="text-align: right;">
                <button type="button" class="btn btn-primary mb-3"  routerLink="/form/designations"><i class="mdi mdi-plus me-1"></i>
                Add Designation</button>
        </div>
        <!-- Search -->
        <!-- <div class="col-md-12">
            <div id="tickets-table_filter" class="dataTables_length"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchteamleaderslist" class="form-control form-control-sm ms-2"
                  aria-controls="tickets-table"  [(ngModel)]="searchteamleaderslist"></label>
              </div>
        </div> -->
      <!-- End search -->
      </div>

      <div class="row">
        <div class="col-md-6">
            <div id="tickets-table_filter" class="dataTables_length"><label class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchdesignationslist" class="form-control form-control-sm ms-2"
                  aria-controls="tickets-table" [(ngModel)]="searchdesignationslist"></label>
            </div>
        </div>
        <div class="col-md-6">
            <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [maxSize]="4" [collectionSize]="designation.length" [boundaryLinks]="true"  style="justify-content: right!important;"></ngb-pagination>
        </div>
      </div>

  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <!-- <h4 class="card-title">Registered Users</h4> -->
    
                  <div class="table-responsive">
                      <table class="table mb-0">
                          <thead>
                              <tr>
                                  <!-- <th>ID</th> -->
                                  <!-- <th>Username</th>
                                  <th>Email</th> -->
                                  <th>Designation</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let designation of designationsArr  | searchdesignationslist:searchdesignationslist | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                <!-- <th scope="row">{{companylist.debtor_company_det_id}}</th> -->
                                  <!-- <th scope="row">{{designation.designation_id}}</th> -->
                                  <td>{{designation.designation}}</td>
                                  <td><button type="button" class="btn btn-info"  routerLink="/form/editdesignations/{{designation.designation_id}}"><i class="uil-pen"></i></button> 
                                        &nbsp;
                                        <button type="button" class="btn btn-danger"  (click)="deleteDesignationsData(designation.designation_id)"><i class="uil-trash-alt"></i></button>
                                    </td>
                              </tr>
                             
  
                          </tbody>
                      </table>
                  </div>
  
              </div>
          </div>
      </div>
  </div>
  <!-- end row -->
  </div>
  